*{
    margin:0;
    padding:0;
    
}

.nav_bar{
    background: #659c84;
    height: 50px;
    position: fixed;
    width:100%;

}

#menu_div{
    width:20%;
    height: 100%;
    
    position: relative;
}

#nav_menu{
    color: black;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
   
}

#nav_menu:hover{
    cursor: pointer;
}

#search_div{
    width: 60%;
    height: 100%;
}

#search_form{
    padding: 10px;

}

#search_text{
    width: 100%;
}